section {
  background-image: radial-gradient(circle, #f4b76e, #f5ad59, #f6a244, #f6982c, #f78c0a);
  box-sizing: border-box;
  height: max-content;
  padding-bottom: 2%;
  box-shadow: 0 0 2px;
}
.mainContainer {
  max-width: 1518px;
  margin: 3% 3.9%;
  display: flex;
  background-color: #dddddd;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 4%;
  border-radius: 20px;
  box-shadow: 0 0 2px;
  justify-content: space-between;
}
h2 {
  font-size: 25px;
}
span.judul {
  font-size: 25px;
  color: #f78c0a;
}
.alert {
  text-align: center;
  color: green;
  font-style: italic;
  background-color: rgb(81, 243, 81);
  border-bottom: 1px solid green;
}
.leftContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.leftContainer p img {
  width: 20%;
  float: left;
  margin-right: 20px;
}
.leftContainer p {
  font-size: 15px;
  text-align: justify;
  margin: 1rem 0;
}
.hrefContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
.contact {
  text-decoration: none;
  color: white;
  background-color: #f78c0a;
  padding: 4px 15px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0.2px #8d4e00;
}
.contact:hover {
  box-shadow: 0 0 5px black;
  padding: 2px 20px;
  transition: 0.3s ease-in-out;
}
.downloadCV {
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}
.downloadCV:hover {
  color: white;
  background-color: #f78c0a;
  padding: 4px 15px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0.2px #8d4e00;
  transition: 0.3s ease-in-out;
}
.medsosContainer {
  display: flex;
  gap: 2rem;
}
.medsosContainer a i {
  font-size: 40px;
  color: black;
}
.medsosContainer a i:hover {
  color: #f78c0a;
  border: 1px solid #f78c0a;
  padding: 4px 15px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.rightContainer {
  width: 35%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f78c0a;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.49);
  margin-bottom: auto;
}
.rightContainer div {
  display: flex;
  background-image: radial-gradient(circle, #f4b76e, #f5ad59, #f6a244, #f6982c, #f78c0a);
  border-bottom: 5px solid #dddddd;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  justify-content: center;
}
.rightContainer div img {
  display: flex;
  width: 70%;
  margin-top: 1rem;
}
.rightContainer h3 {
  text-align: center;
  color: #dddddd;
}
.rightContainer p {
  text-align: center;
  color: #dddddd;
  margin-bottom: 1rem;
}
/* blogs */
.blogs-title {
  background-color: #dddddd;
  text-align: center;
}
.blogsContainer {
  max-width: 1578px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #dddddd;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1rem auto;
  box-sizing: border-box;
  padding: 10px;
  background-color: #f6a244;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  height: fit-content;
}
.cardContainer:hover {
  padding: 1rem;
}
.cardContainer img {
  border-radius: 10px;
  width: 100%;
  height: 250px;
}
.cardContainer a {
  margin: 10px auto;
  text-decoration: none;
  color: black;
  font-weight: 900;
}
.cardContainer p {
  display: inline-block;
  height: 80px;
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  -webkit-line-clamp: 4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.cardContainer .technologi {
  font-size: 25px;
  display: flex;
  gap: 1rem;
  margin: 10px 0;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
}
.buttonContainer a {
  color: white;
  width: 48%;
  padding: 3px 0;
  background-color: #f78c0a;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0.2px #000000;
  text-align: center;
  cursor: pointer;
}
.buttonContainer a:hover {
  color: black;
  box-shadow: 0 0 4px black;
}

/* phone and tablet screen only */
@media only screen and (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }
  .leftContainer {
    width: 100%;
  }
  .rightContainer {
    width: 60%;
    margin: 1rem auto;
  }
  .medsosContainer {
    margin: 0 auto;
  }
  .medsosContainer a i {
    font-size: 30px;
  }
  section {
    height: max-content;
  }
  .cardContainer {
    width: 47%;
  }
}

@media only screen and (max-width: 428px) {
  .cardContainer {
    width: 80%;
  }
}
