@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-image: radial-gradient(circle, #f4b76e, #f5ad59, #f6a244, #f6982c, #f78c0a);
  height: 100vh;
}
form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  font-family: "Poppins", sans-serif;
}
h2 {
  text-align: center;
}
form div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
form div input,
.subject,
.message {
  background-color: #dddddd;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0px 1px 0.4px black;
}
form div input,
.subject {
  height: 30px;
}
.message {
  resize: none;
}
.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
}
form div button {
  width: 20%;
  color: white;
  background-color: #f78c0a;
  padding: 4px 15px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0.2px #000000;
  border: none;
  cursor: pointer;
}
form div button:hover {
  color: black;
  box-shadow: 0 0 4px black;
}

/* responsive */
@media only screen and (max-width: 768px) {
  form {
    width: 90%;
  }
}
