<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/register&login.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
            <nav>
                <div class="leftNav">
                <ul>
                    <li>
                    <img src="images/Asset 2.png" alt="" />
                    </li>
                    <li><a href="/"  class="itemCollapse">Home</a></li>
                </ul>
                </div>
                <div class="rightNav">
                <a class="form"  href="/register">Register</a>
                <a class="form" id="active" href="/login">Login</a>
                <a href="/contact" class="itemCollapse">Contact Me</a>
                <button onclick="openDropMenu()"><i class="fa-solid fa-bars"></i></button>
                </div>
            </nav>
            <div class="dropMenu-container" id="dropMenu-container">
                <div><a href="/" >Home</a></li></div>
                <div><a href="/contact">Contact Me</a></div>
            </div>
            <!-- navbar ends -->

            <span onclick="darkMode()">🌗</span>
            <script>
                function darkMode() {
                document.body.classList.toggle("darkMode");
                }
            </script>
            <!-- darMode ends -->
           {{#if messages.danger}}
            <h3 class="alert">{{messages.danger}}</h3>
            {{/if}}
            <form action="/login" method="post">
              <h2>Login To Your Account</h2>
              <label for="email">Email</label>
              <input type="email" name="email" id="email">
              <label for="password">Password</label>
              <input type="password" name="password" id="password">
              <button>Submit</button>
            </form>


    <script src="js/navbar.js"></script>
  </body>
</html>
