<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Project</title>
    <link rel="icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/myProject.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  </head>
  <body>
    <section>
      <nav>
        <div class="leftNav">
          <ul>
            <li>
              <img src="images/Asset 2.png" alt="" />
            </li>
            <li><a href="/" class="itemCollapse">Home</a></li>
            <li><a href="/myProject" id="active" class="itemCollapse">Add Project</a></li>
          </ul>
        </div>
        <div class="rightNav">
          {{#if isLogin}}
            <a class="form" id="active" href="#">Hi, {{user}}</a>
            <a class="form" href="/logout">Log out</a>
          {{else}}
            <a class="form" href="/register">Register</a>
            <a class="form" href="/login">Login</a>
          {{/if}}
          <a href="/contact" class="itemCollapse">Contact Me</a>
          <button onclick="openDropMenu()"><i class="fa-solid fa-bars"></i></button>
        </div>
      </nav>
      <div class="dropMenu-container" id="dropMenu-container">
        <div><a href="/">Home</a></div>
        {{#if isLogin}}
          <div><a href="/myProject" id="aktif">Add Project</a></div>
        {{/if}}
        <div><a href="/contact">Contact Me</a></div>
      </div>
      <!-- navbar ends -->

      <span onclick="darkMode()">🌗</span>
      <script>
        function darkMode() { document.querySelector("section").classList.toggle("darkMode"); }
      </script>
      <!-- darMode ends -->

      <form method="post" action="myProject" enctype="multipart/form-data">
        <h3>Add My Project</h3>
        <label for="projectName-input">Project Name</label>
        <input type="text" name="title" id="projectName-input" />

        <div class="dateContainer">
          <div class="startDate-container">
            <label for="startDate-input">Start Date</label>
            <input type="date" name="startdate" id="startDate-input" />
          </div>
          <div class="endDate-container">
            <label for="endDate-input">End Date</label>
            <input type="date" name="enddate" id="endDate-input" />
          </div>
        </div>

        <label for="description-input">Description</label>
        <textarea name="content" id="description-input" cols="30" rows="9"></textarea>

        <label>Technologies</label>
        <div class="technologiesContainer">
          <div class="leftTechnologies">
            <div>
              <input name="nodejs" type="checkbox" id="nodeJs-input" />
              <label for="nodeJs-input">Node Js</label>
            </div>
            <div>
              <input name="reactjs" type="checkbox" id="reactJs-input" />
              <label for="reactJs-input">React Js</label>
            </div>
          </div>
          <div class="rightTechnologies">
            <div>
              <input name="nextjs" type="checkbox" id="nextJs-input" />
              <label for="nextJs-input">next Js</label>
            </div>
            <div>
              <input name="typescript" type="checkbox" id="typescript-input" />
              <label for="typescript-input">typescript</label>
            </div>
          </div>
        </div>

        <p>Upload Image</p>
        <label class="imageInput-container" for="image-input">
          <p>choose</p>
          <input type="file" accept="Image" name="upload-image" id="image-input" hidden /><i class="fa-solid fa-paperclip"></i>
        </label>
        <div class="btnContainer">
          <button>Submit</button>
        </div>
      </form>
    </section>

    <script src="js/blog.js"></script>
    <script src="js/navbar.js"></script>
  </body>
</html>